extends layout

block content

  //- Import fonts
  head
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat:wght@400&display=swap" rel="stylesheet")

  body 
    //- Add logo as upper banner
    //- section.section-dark
    //-   +donutLogo('logo-dark')

    .section-dark
      .logo.logo-dark-svg
        img.logo-graphic(src="/images/Logo-Gold.svg" alt="")
        h1.logo-name Downtown Donuts
        p.logo-since Since 1992

    //- Top Navigation Bar
    section.links 
      table
        tr
          td 
            a(href="/") Home
          td 
            a(href="/menu") Menu
          td 
            a(href="/contact") Contacts
          td 
            a(href="/reviews") Reviews

    .divider
    //- Main content section ???
    section.contacts
      h1 Where To Find Us
      hr.break

      
      .boxed-section
        h2 Visit Our Location
        div 
          strong Downtown Donuts
        div 17265 Main Street
        div Boise, ID 83702
        div Located in the heart of downtown Boise, 
        div just a short walk from Julia Davis Park.

      .boxed-section
        h2 Hours
        div Monday - Friday: 5:30 AM - 2:00 PM
        div Saturday - Sunday: 6:00 AM - 1:00 PM
        div 
          em (Hours may vary on holidays)
          
      .boxed-section
        h2 Get in Contact
        div Call Us: (555) 123-4567
        div 
          em For same-day orders or quick questions, calling is the fastest way to reach us.
        .divider
        div Email at: hello@downtowndonuts.com
        div 
          em We typically respond within 1 business day.
      hr
      h2 Follow Along
      div Stay updated on daily specials and seasonal flavors:
      div Instagram: @downtowndonuts
      div Facebook: Downtown Donuts Boise





    //- A space then the Footer. Larger for asthetics.
    .divider
    .divider

    footer.footer
      .footer-content
        p © 2026 Downtown Donuts
        p 17265 Main Street, Boise
        p (555) 123-4567
        p Find Us:
        a(href="http://www.doordash.com") Doordash
        a(href="http://www.ubereats.com") UberEats