extends layout



block content
  head
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat:wght@400&display=swap" rel="stylesheet")

  .logo
  svg(viewBox="0 0 400 260" xmlns="http://www.w3.org/2000/svg")
    path(d="M60 170 A140 140 0 0 1 340 170")
    line(x1="60" y1="205" x2="145" y2="205")

  h1.logo-name Downtown Donuts
  
  h1= title
  p Welcome to #{title}
  ol
  each val in todos
    li
      span= val.task + ' - '
      if val.completed > 0
        span Completed
      else
        span Not Completed
      form(method='POST' action='/delete')
        input(type='hidden', name='id', value=val.id)
        button(type='submit') Delete

  hr
  h2 Add a new task
  form(method='POST' action='/create')
    label(for='task') Task:
    input(type='text', name='task', id='task', required)
    button(type='submit') Create Task
