extends layout



block content
  head
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat:wght@400&display=swap" rel="stylesheet")

  .logo.logo-dark
  svg.logo-graphic(viewBox="0 0 400 260" aria-hidden="true")
    g(fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round")
      path(d="M60 170 A140 140 0 0 1 340 170")
      path(d="M145 170 A55 55 0 0 1 255 170")
      line(x1="60" y1="205" x2="145" y2="205")
      line(x1="255" y1="205" x2="340" y2="205")
      line(x1="95" y1="120" x2="105" y2="130")
      line(x1="125" y1="95" x2="133" y2="110")
      line(x1="145" y1="135" x2="158" y2="138")
      line(x1="175" y1="80" x2="190" y2="84")
      line(x1="190" y1="112" x2="190" y2="126")
      line(x1="230" y1="88" x2="245" y2="75")
      line(x1="240" y1="125" x2="252" y2="112")
      line(x1="275" y1="95" x2="282" y2="112")
      line(x1="305" y1="135" x2="305" y2="150")
      line(x1="112" y1="160" x2="128" y2="154")

  h1.logo-name Downtown Donuts
  p.logo-since Since 1992

  h1= title
  p Welcome to #{title}
  ol
  each val in todos
    li
      span= val.task + ' - '
      if val.completed > 0
        span Completed
      else
        span Not Completed
      form(method='POST' action='/delete')
        input(type='hidden', name='id', value=val.id)
        button(type='submit') Delete

  hr
  h2 Add a new task
  form(method='POST' action='/create')
    label(for='task') Task:
    input(type='text', name='task', id='task', required)
    button(type='submit') Create Task
