extends layout

block content

  //- Import fonts
  head
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat:wght@400&display=swap" rel="stylesheet")

  body 
    //- Add logo as upper banner
    //- section.section-dark
    //-   +donutLogo('logo-dark')

    .section-dark
      .logo.logo-dark-svg
        img.logo-graphic(src="/images/Logo-Gold.svg" alt="")
        h1.logo-name Downtown Donuts
        p.logo-since Since 1992

    //- Top Navigation Bar
    section.links 
      table
        tr
          td 
            a(href="/") Home
          td 
            a(href="/menu") Menu
          td 
            a(href="/contact") Contacts
          td 
            a(href="/reviews") Reviews

    .divider
    //- Main content section
    section.menu
      h1 Menu

      //- A grid of 9 images with their corresponding alt text and descriptor.
      table

        //- Row 1
        tr 
          td 
            img(src="images/Bismark.jpg", alt="Bismark")
            div Bismark
            div $2.75
          td 
            img(src="images/Fritter.jpg", alt="Fritter")
            div Fritter
            div $3.25
          td 
            img(src="images/Beignet.jpg", alt="Beignet")
            div Beignet
            div $2.50

        //- Row 2
        tr 
          td 
            img(src="images/Boston-cream-donut.jpg", alt="Boston Cream")
            div Boston Cream
            div $2.85
          td 
            img(src="images/Bear-claw.jpg", alt="Bear Claw")
            div Bear Claw
            div $3.50
          td 
            img(src="images/Paczki.jpg", alt="Paczki")
            div Paczki
            div $3.75

        //- Row 3
        tr 
          td 
            img(src="images/Old-fashioned-donut.jpg", alt="Old Fashioned")
            div Old Fashioned
            div $2.25
          td 
            img(src="images/Sugar-donut.jpg", alt="Sugar Dusted")
            div Sugar Dusted
            div $2.00
          td 
            img(src="images/Donut-holes.jpg", alt="Donut Holes")
            div Donut Holes
            div $1.75 (per dozen)


    //- A space then the Footer.
    .divider

    footer.footer
      .footer-content
        p © 2026 Downtown Donuts
        p 17265 Main Street, Boise
        p (555) 123-4567
        p Find Us:
        a(href="http://www.doordash.com") Doordash
        a(href="http://www.ubereats.com") UberEats