/* Reset */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f7f7f7;
}

.main-content, .menu, .reviews, .contacts {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Sections */
.section-dark {
  background-color: #0b2e26;
  padding: 1rem 1rem;
}

.section-light {
  background-color: #f7f7f7;
  padding: 1rem 1rem;
}

/* Logo container */
.logo {
  position: relative;
  width: 220px;
  margin: 0 auto;
}

/* SVG sizing */
.logo-graphic {
  display: block;
  width: 100%;
  height: auto;
}

/* Main script text */
.logo-name {
  position: absolute;
  left: 50%;
  top: 78%;
  transform: translate(-50%, -50%);
  margin: 0;

  font-family: 'Italianno', cursive;
  font-size: 1.85rem;
  line-height: 1;
  font-weight: 400;
  white-space: nowrap;
}

/* Subtitle */
.logo-since {
  position: absolute;
  left: 50%;
  top: 88%;
  transform: translate(-50%, -50%);
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.55rem;
  letter-spacing: 0.08em;
  white-space: nowrap;
}

/* Color control via currentColor */
.logo-dark {
  color: #d8ab43; /* gold */
}

.logo-light {
  color: #111111; /* black */
}

/* Apply color to text */
.logo-dark .logo-name,
.logo-dark .logo-since {
  color: #d8ab43;
}

.logo-light .logo-name,
.logo-light .logo-since {
  color: #111111;
}


.links {
  background-color: #0b2e26;
  padding: 1rem 1rem;
  border: 1px #F7C64A;
  border-style: double none none none ;
}
.links table {
  width: 60%;
  margin: 0 auto;
  border-collapse: collapse;
}

.links table td {
  width: 25%;
  text-align: center;
  padding: 1rem;
  background-color: #0b2e26;
  border: 1px dotted #F7C64A;
  color: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.links table td a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem;
  text-decoration: none;
  color: inherit;
}


.menu table {
  width: 60%;
  margin: 0 auto;
  border-collapse: collapse;
}

.menu table td {
  width: 33%;
  text-align: center;
  padding: 1rem;
  background-color: #f7f7f7;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.menu table tr td img {
  justify-self: center;
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;  /* makes it a square */
  object-fit: cover;
  padding: 1rem;
  border-radius: 10%;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

.menu table tr td div {
  justify-self: left;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}